<!-- Enter log & pass -->
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-subtitle>Enter you data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- input for login & pass -->
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <!-- login -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Enter you login:</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- pass -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Enter you password:</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <!-- button enter or go register -->
        <button mat-raised-button color="accent">Sign Up</button>
    </mat-card-actions>


</mat-card>